body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #84000f;
    color: white;
    padding: 10px;
}

.search-container {
    position: relative;
    width: 300px;

}

.search-input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.produto {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.produto img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #9f8f17;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #0f036c;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
